body {
  background-color: #adac89;
  color: #2c1a33;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.container {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: block;
  text-align: center;
}

footer {
  margin: 20px 0;
  text-align: center;

  font-size: 14px;
}

footer a {
  color: #8c89ad;
}

footer a:hover {
  color: white;
}

footer a:active {
  font-weight: 900;
}
