body {
  background-color: #1a2733;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.container {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: block;
  text-align: center;
}

footer {
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 90%;
}

header,
footer,
#generated,
#generator {
  background-color: white;
  border: 1px solid #1a2733;
  border-radius: 7px;
  box-shadow: 2px 2px 1px #899dad;
  color: #1a2733;
  padding: 15px;
  margin: 35px 0;
}

input {
  text-align: center;
  border: #1a2733;
  border-radius: 20px;
  padding: 15px;
}

#generated p {
  margin: 0;
  padding: 15px;
  border-left: 3px solid #ad4d00;
}

#text-input {
  border: 1px solid #1a2733;
  margin-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 75%;
}

#submit-input {
  background-color: #1a2733;
  box-shadow: 1px 1px 1px #899dad;
  color: white;
  letter-spacing: 0.5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer a {
  color: #1a2733;
}

footer a:hover {
  color: #ad4d00;
  cursor: pointer;
}

#submit-input:hover {
  background-color: #ad4d00;
  box-shadow: 1px 1px 1px #1a2733;
  color: white;
  cursor: pointer;
}

footer a:active {
  font-weight: 900;
}
