body {
  background-color: #1b2a33;
  letter-spacing: 1px;
  font-family: "Simonetta", serif;
}

h1 {
  font-weight: normal;
}

div.container {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: block;
  text-align: center;
}

footer {
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header,
footer,
#generated,
#generator {
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  padding: 15px;
  margin: 35px 0;
}

p {
  line-height: 1.4;
}

input {
  text-align: center;
  border: #1b2a33;
  border-radius: 20px;
  padding: 15px;
}

#generated p {
  margin: 10px 0;
  padding: 15px;
  border-left: 3px solid #eb6600;
}

#text-input {
  border: 1px solid #1b2a33;
  margin-right: 10px;
  font-family: "Simonetta", serif;
  width: 75%;
  letter-spacing: 0.5px;
}

#submit-input {
  background-color: #1b2a33;
  border: 1px solid white;
  color: white;
  letter-spacing: 0.5px;
  font-family: "Simonetta", serif;
}

a {
  color: white;
}

a:hover {
  color: #eb6600;
  cursor: pointer;
}

#submit-input:hover {
  background-color: #eb6600;
  box-shadow: 1px 1px 1px #1a2733;
  color: white;
  cursor: pointer;
}

a:active {
  font-weight: 900;
}

.highlight {
  color: #eb6600;
  font-weight: bold;
}
